# Dependencias de Node.js
node_modules/

# Archivos y carpetas de Next.js
.next/
out/

# Configuración de npm/yarn/pnpm
*.log
package-lock.json
yarn.lock
pnpm-lock.yaml

# Configuración local de IDEs/editores
.vscode/
.idea/

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Configuración de Git
.git/

# Archivos de caché
*.tmp
*.cache

# Archivos comprimidos y backups
*.zip
*.rar
*.tar.gz
*.backup

# Configuración del entorno
.env
.env.*.local

# Otros
coverage/
dist/
